<div class="card mb-4" style="background-color: #F4E8D2; color: #453F3C;">
    <div class="card-body">
        <p style="color: #1A1A1D;">{{comment.text}}</p>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <p class="small mb-0 ms-2" style="color: #6A6A6A;">By: {{user.username}}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
                <i class="far fa-thumbs-up mx-2 fa-xs text-info" style="margin-top: -0.16rem;"></i>
                <p class="small text-muted mb-0">{{format_date comment.comment_date}}</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/liveAlert.js"></script>
