<div class="card text-center" style="background-color: #FFE5CC; color: #4D4D4D;">
    <div class="card-body">
        <a href="/edit/{{id}}" style="text-decoration: none;">
            <h5 class="card-title" style="color: #C68642;">{{post_title}}</h5>
        </a>
        <p class="card-text" style="color: #333333;">{{post_contents}}</p>
    </div>
</div>

