<a href="/post/{{id}}" style="text-decoration: none;">
    <div class="card text-center border-warning mb-4" style="background-color: #FFE5CC; color: #4D4D4D; border-radius: 15px;">
        <div class="card-body">
            <h5 class="card-title card-header p-3 bg-warning bg-opacity-50 border-warning rounded">{{post_title}}</h5>
            <p class="card-text" style="color: #333333;">{{post_contents}}</p>
        </div>
        <h6 class="card-title card-header p-3 bg-warning bg-opacity-50 border-warning rounded-end">Author: {{user.username}}</h6>
    </div>
</a>
